html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card img {
    padding: 10px;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
}

.card .title-link {
    text-decoration: none;
    color: black;
}
.card .title-link:hover {
    text-decoration: underline;
    color: darkgray;
}

.zoom {
    transition: transform .2s; /* Animation */
}
.zoom:hover {
    transform: scale(3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}