@model List<ProductDto>;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>Products in the Shop: @ViewBag.ProductsCount</p>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
        @foreach (var i in Model)
        {
           <partial name="_ProductCardPartial" model="@i" />
        }
    </div>
</div>